{# templates/meteo/meteo.html.twig #}

{# 
<form action="api.php" method="post">
 <p>Latitude : <input type="text" name="lat" /></p>
 <p>Longitude : <input type="text" name="long" /></p>
 <p><input type="submit" value="OK"></p>
</form> #}


<h1>Votre latitude est de {{ latitude }} et votre longitude est de {{ longitude }}</h1>

